{% extends "emails/base.html" %}

{% block title %}
    Account Locked
{% endblock title %}

{% block content %}
    <h2>Your Account has been locked</h2>
    <p>Hi {{ full_name }}</p>
    <p>Your account has been locked due to multiple failed login attempts.
    For security reasons your account will remain locked for <b>{{ lockout_duration }}</b> minutes</p>
    <p>if you did not attempt to log in, please contact support immediately to get this resolved</p>
    <p>Best Regards,</p>
    <p><strong>The {{ site_name }} Team</strong></p>
{% endblock content %}